Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

Answer >

Keywords are reserved words which are not be used as a variable name, function name, or any other identifier in python programming.

In [ ]:
#import keyword module
import keyword
#printing  keyword list
kw=keyword.kwlist
print(kw)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Q.2. What are the rules to create variables in python?

Answer >

In python programming we need to used variable while writing code.Following rules need to consider while naming variables:

>A variable name must start with a letter or the underscore character

>A variable name cannot start with a number

>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

>Variable names are case-sensitive (age, Age and AGE are three different variables)

>A variable name cannot have any of the Python keywords.

Q.3. What are the standards and conventions followed for the nomenclature of variables in python to improve code readability and maintainability?

Answer >

While declaring names of variables in certain naming convention we need to keep in mind.

>Python is case sensitive language so Variable name like Year ,year are each different variables.

>Variables name contain number, _ and A-Z,a-z,0-9 but the first character of a variable name can’t be a digit.

>Keep variable name logical to our code

Q.4. What will happen if a keyword is used as a variable name?

Answer >

>Our code will give error like below i give took variable name if and assign value. it will give SyntaxError: invalid syntax

In [ ]:
None = 3 # SyntaxError: cannot assign to None

# Because None is reserved Keyword.

SyntaxError: ignored

Q.5. For what purpose def keyword is used?

Answer >

> Python def keyword is used to define a function, it is used before a function name which user want to create.

Q.6. What is the operation of this special character ‘\’?

Answer >

> An escape character is a backslash \ followed by the character which we want to insert.like \n will create new line,\t create tab,'single quote.

Q.7. Give an example of the following conditions:
(i) Homogeneous list
(ii) Heterogeneous set
(iii) Homogeneous tuple

Answer >

>(i) Homogeneous list here our homo_list have same type of integer data type in it

In [ ]:
homo_list=[0,1,2,3,4,5]

>(ii) Heterogeneous set here set have integer,float,string data types in it

In [ ]:
hetro_set={1,2,3,'Sam',1.5,1}
print(hetro_set) #o/p : {1, 2, 3, 1.5, 'Sam'}
print (type(hetro_set)) #o/p :  <class 'set'>

{1, 2, 3, 1.5, 'Sam'}
<class 'set'>

>(iii) Homogeneous tuple here I have created tuple with all string data types.

In [ ]:
Homo_tup=('Apple','Banana','Grapes','Mango')
print(Homo_tup) #o/p : ('Apple', 'Banana', 'Grapes', 'Mango')

('Apple', 'na', 'Grapes', 'Mango')

Q.8. Explain the mutable and immutable data types with proper explanation & examples.

Answer >

>here we added new element 'Apple' in list and print whole list after adding element at index 3 in it :

In [ ]:
ls=[1,2,3,4]
ls[3]='Apple'
print (ls) #o/p : [1, 2, 3, 'Apple']

[1, 2, 3, 'Apple']

> here we added new key value 'Address' and it value in Dict in it :

In [ ]:
Dict={'Name':'Tom','Age':30,}

print(Dict) # o/p : {'Name': 'Tom', 'Age': 30}

{'Name': 'Tom', 'Age': 30}

In [ ]:
Dict['Address']='Cartoon Network' # adding this key value in Dict

print (Dict)

{'Name': 'Tom', 'Age': 30, 'Address': 'Cartoon Network'}

>here giving example of immutable strings and Tuple after assigning new value to 0 index in strings and tuple we get error.

In [ ]:
x='Ineuron'

x[0]

'I'

In [ ]:
x[0]="d" #o/p : 'str' object does not support item assignment

TypeError: ignored

In [ ]:
tpl=(1,2,3,54,64)
tpl[0]=34 #o/p : 'tuple' object does not support item assignment

TypeError: ignored

Q.9. Write a code to create the given structure using only for loop.

Answer >

In [ ]:
row=10
k=row-1
#this loop for outer row
for i in range(0,row,2):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i+1):
        print('*',end='')
    print('\r')

         *
        ***
       *****
      *******
     *********

 Q.10. Write a code to create the given structure using while loop.

Answer >
#Reverse_Pattern using while loop.

a=9
row =0
while row<a:
  space=0
  while space<row:
    print(" ", end="")
    space+=1
  star=0
  while star<a-row:
    print("|",  end="")
    star+=1
  row+=1
  a-=1
  print()

In [58]:
#Reverse_Pattern using while loop.

a=9
row =0
while row<a:
  space=0
  while space<row:
    print(" ", end="")
    space+=1
  star=0
  while star<a-row:
    print("|",  end="")
    star+=1
  row+=1
  a-=1
  print()

|||||||||
 |||||||
  |||||
   |||
    |